
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
 
 h1,
 h2,
 h3,
 h4,
 p,
 a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.header{
    background-color: #f1c7c7;
    padding: 20px;
}

